@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-subtle: #e5e7eb;
  --foreground: #171717;
  --primary:50 100% 65%;
  --primary-foreground:#000000;
  --secondary:230.05 100% 60.98%;
  --secondary-foreground: 0 0% 100%;
  --accent: #f3c614;
  --highlight: #f3c614;
  --error: #ff0000;
  --success: #00ff00;
  --warning: #ffff00;
  --info: #0000ff;
  --dark: #000000;
  --light: #ffffff;
  --transparent: transparent;
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
  --red: #ff0000;
  --green: #00ff00;
  --blue: #0000ff;
  --yellow: #ffff00;
  --purple: #800080;
  --cyan: #00ffff;
  --magenta: #ff00ff;   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}


body {
  height: 100vh;
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* ul, ol {
  list-style: none;
} */

/* a {
  text-decoration: none;
  color: inherit;
} */

/* no reset css */
.no-reset :is(h1, h2, h3, ul, ol, li, blockquote, code, a) {
  all: revert;
}

.no-reset code {
  background: #e4caca;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.no-reset blockquote {
  background: #f9f9f9;
  padding: 1rem;
  border-left: 0.5rem solid #f3c614;
  margin: 1rem 0;
}

.no-reset h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.no-reset h2 {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.no-reset h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.no-reset p {
  font-size: 1.5rem;
}

.no-reset li {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 50 100% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Chiều rộng thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của phần track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 5px; /* Làm mềm các góc */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu thanh cuộn khi hover */
}

/* styles/ShakeRotate.module.css */

@keyframes shakeRotate {
  0% {
      transform: rotate(0deg) translateX(0);
  }
  25% {
      transform: rotate(-10deg) translateX(-10px);
  }
  50% {
      transform: rotate(10deg) translateX(10px);
  }
  75% {
      transform: rotate(-10deg) translateX(-10px);
  }
  90% {
      transform: rotate(360deg) translateX(0);
  }
  100% {
      transform: rotate(0deg) translateX(0);
  }
}

@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.shake-rotate {
  display: inline-block;
  transition: transform 2s ease-in-out;
}

.shake-rotate:hover {
  animation: shakeRotate 2s ease-in-out;
}


@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fly-out {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(-40deg) translateX(-50%);
  }
  100% {
    top: -100vh;
    transform:  rotate(-40deg);
  }
}


@keyframes flame {
  0%, 100% {
    height: 30px;
    opacity: 0.75;
  }
  50% {
    height: 40px;
    opacity: 0.9;
  }
}

/* Apply the custom animations */
.animate-fly {
  transform:scale(1);
  transition: transform linear 0.9s; /* Adjust duration for desired speed */
}

.animate-fly:active {
  position: absolute;
  animation: fly-out 2s linear; /* Adjust duration for desired speed */
}

.animate-fly:hover {
  transform:scale(1.25);
  transition: transform linear 0.9s; /* Adjust duration for desired speed */
}
.animate-flame {
  animation: flame 0.5s linear infinite;
}
