@import '../../components/GlobleStyle/GlobleStyle.scss';
.wrapper{
    display: flex;
    flex-direction:column ;
    height: 100vh;
    .container{
        max-width: 100%;
        //width: ;
        display: flex;
        height: 100%;
    }
    .footer {
        background-color: $primary-color;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



