$text-color: white;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$white-color: #FFF;


 *   {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
 }

 html {
    // font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
 }

 body {
   font-family: 'Roboto', sans-serif;
    color:$text-color;
    line-height: 1.6em;
    text-rendering: optimizeSpeed;
 }

 #root {
   height: 100vh;
 //  height: 100vh;
 }

 a, nav {
    text-decoration: none;
    color: $text-color;
 }

 li, ul ,ol {
   list-style-type: none;
 }

 button {
    cursor: pointer;
 }

